-e .
pandas
pandas-stubs
types-requests
jinja2
luigi
ipykernel
pyarrow
fastparquet
dotenv
duckdb
pydantic
dvc[gdrive]
fast-langdetect
blingfire
black[jupyter]
isort
flake8
mypy
pyright
langchain
langchain_openai
langchain_ollama
langchain_huggingface
llama-cpp-python
lmstudio
weave
guidance
accelerate
transformers
bitsandbytes --prefer-binary
torch
gpustat
types-PyYAML
demjson3
seaborn